<h3>Lista de cervezas</h3>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let beer of beers" [ngClass]="{'clearance': beer.clearance}">
            <td><img width="90" class="img-thumbnail" [src]="beer.image" [alt]="beer.name"></td>
            <td>{{beer.name}}</td>
            <td>{{beer.type}}</td>
            <td>{{beer.price | currency}}</td>
            <td>
                <span *ngIf="beer.stock == 0" class="badge bg-danger">Sin stock</span>
                <span *ngIf="beer.stock > 0" class="badge bg-success">Disponible</span>
            </td>
            <td>
                <app-input-number [(quantity)]="beer.quantity" [max]="beer.stock" *ngIf="beer.stock > 0"></app-input-number>
                cant: {{beer.quantity}}
            </td>
        </tr>
    </tbody>
</table>
